.title-section {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.hero-section {
  position: relative;
  background-color: black;
  color: white;
  min-height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  padding: 20px;
}

.hero-titel {
  margin-bottom: 20px;
}

.hero-subhead {
  line-height: 20px;
}

.categorie-section {
  min-height: 90vh;
}

.categorie-card {
  position: relative;
  min-height: 200px;
  max-height: 300px;
  min-width: 300px;
  max-width: 500px;
  background-color: black;
  margin: 40px;
  border-radius: 10px;
}

.categorie-img {
  max-height: 90px;
  min-height: 90px;
}

.categorie-content {
  color: white;
  padding: 10px;
  overflow: hidden;
}
